<div class="col-xs-6">

	<!-- Arrow -->
	<div class="mv-20">
		<div class="arrow-container">
			<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
		</div>
	</div>

	<!-- Clickthrough a posted comment -->
	<div ng-show="comment.children[index]">
		<a href="#comment/{{comment.children[index]._id}}" class="child-clickthrough">
			<div class="well well-lg well-child text-center">
				<h3>{{comment.children[index].text}}</h3>
				<byline author-name="{{comment.children[index].author}}"></byline>
			</div>
		</a>
	</div>

	<!-- Post a new comment form -->
	<div ng-hide="comment.children[index]">
		<div class="well well-lg well-child">
			<form name="commentForm" ng-submit="commentForm.$valid && commentCtrl.addChild()" novalidate>
				<div class="form-group">
					<div class="form-group">

						<div class="text-center">
							<div ng-hide="commentCtrl.child.text">
								<h3>Post a reaction</h3>
							</div>
							<div ng-show="commentCtrl.child.text">
								<h3>{{commentCtrl.child.text}}</h3>
								<div ng-show="commentCtrl.child.author">
									<h4>~{{commentCtrl.child.author}}</h4>
								</div>
							</div>
							<br>
						</div>

						<div ng-show="commentForm.$submitted">
							<span ng-show="commentForm.reaction.$error.required">Required</span>
						</div>

						<textarea type="text" class="form-control input-lg" ng-model="commentCtrl.child.text" placeholder="um?" name="reaction" required></textarea>
						<br>

						<div ng-show="commentForm.$submitted">
							<span ng-show="commentForm.username.$error.required">Required</span>
						</div>

						<div class="input-group input-group-lg">
							
							<span class="input-group-addon" id="sizing-addon1">~</span>

							<input ng-model="commentCtrl.child.author" ng-trim="false" ng-change="commentCtrl.child.author = commentCtrl.child.author.split(' ').join('')" name="username" type="text" class="form-control" placeholder="anonymous-name" aria-describedby="sizing-addon1" required>
						</div>
						<br>

						<div class="pull-right-text">
							<button type="submit" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Post</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>